Source: dsh
Section: net
Priority: optional
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>> 3.0.0), libdshconfig1-dev (>= 0.20.11-1), po4a
Standards-Version: 3.7.2

Package: dsh
Architecture: any
Depends: ${shlibs:Depends}
Suggests: update-cluster
Description: dancer's shell, or distributed shell
 Executes specified command on a group of computers using remote shell
 methods such as rsh or ssh. 
 .
 dsh can parallelise job submission using several algorithms, such as using 
 fan-out method or opening as much connections as possible, or 
 using a window of connections at one time.
 It also supports "interactive mode" for interactive maintenance of 
 remote hosts.
 .
 This tool is handy for administration of PC clusters, and multiple hosts.
 .
 http://www.netfort.gr.jp/~dancer/software/dsh.html

